@import url("https://fonts.googleapis.com/css2?family=Freehand&family=Lato&family=Patua+One&family=Source+Sans+Pro&display=swap");
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url("../public/images/image2.jpg");
}
.container {
  width: 100%;
  margin: 1em auto;
  background-color: darkslategray;
}

.grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2em;
  justify-content: center;
}
h2 {
  background-color: antiquewhite;
}
.card {
  margin: 5px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title a {
  text-decoration: none;
}
.title h1 {
  font-family: "Patua One", cursive;
  font-weight: bolder;
  margin-left: 32vw;
  color: rgb(255, 171, 3);
  -webkit-text-stroke: 0.5px white;
  transition: all 1s;
  border-style: groove;
  border-color: #0dcaf0;
  padding: 3px;
}
.title h1:hover {
  color: #0dcaf0;
  border-color: rgb(255, 171, 3);
  -webkit-text-stroke: 0.5px rgb(13, 13, 13);
}
.card-img-top:hover {
  transition: all 1s;
}
